body {
    margin: 0;
}

/* HEADER */
.top {
    background-color: #1f2937;
    color: #ffffff;
}


.header {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 24px;
    padding: 4px;
}


.header-logo {
    display: flex;
    gap: 20px;
}


.header-logo img {
    width: 50px;
    height: auto;
}


a, a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* HEADER */


/* INTRO */


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 24px;
    flex: 1;
}


.hero {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    margin: 0 0 48px;
    
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}


.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}


.hero-button button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    border: #3882f6 5px solid;
    border-radius: 10px;
    padding: 8px 8px;
}


.intro-image img {
    width: 500px;
    height: auto;
}

/* HEADER */


/* CHOICES */

.choices {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px;
}


.choices-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}


.choices-images-and-text {
    display: flex;
    justify-content: center;
}


.choices-images-and-text img {
    width: 200px;
    height: 200px;
    border: 5px #3882f6 solid;
    border-radius: 10px;
}


.choices-image-title {
    font-size: 24px;
    font-weight: 450;
}


.choices-image-description {
    width: 250px;
}

/* CHOICES */


/* QUOTE */

.quote {
    background-color: #e5e7eb;
    padding: 100px 300px;
}


.quote-text {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 10px;
}


.quote-author {
    text-align: right;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 10px;
}

/* QUOTE */
